.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
}
.congra{
    font-size:30px;
    color: orange;
    text-align: center;
}